asgiref
django
django-cors-headers
django-debug-toolbar
django-filter
djangorestframework
djangorestframework-simplejwt
factory-boy
flake8
gunicorn
gunicorn
isort
pillow
psycopg2-binary
python-dotenv
python-slugify
pytz
requests
sorl-thumbnail
sqlparse
