<header class="header">
    <nav class="nav">
        <div class="nav__container container">

            <ul class="nav__items list">
                <li class="nav__item {% if request.resolver_match.url_name  == 'index' or request.resolver_match.url_name == 'profile' or request.resolver_match.url_name == 'recipe' %}nav__item_active{% endif %}">
                    <a href="{% url 'index' %}" class="nav__link link">Рецепты</a>
                </li>
                {% if user.is_authenticated %}
                    <li class="nav__item {% if request.resolver_match.url_name  == 'create' %}nav__item_active{% endif %}">
                        <a href="{% url 'create' %}" class="nav__link link">Создать рецепт</a>
                    </li>

                    <li class="nav__item {% if request.resolver_match.url_name  == 'subscriptions' %}nav__item_active{% endif %}">
                        <a href="{% url 'subscriptions' %}" class="nav__link link">Мои Подписки</a>
                    </li>

                    <li class="nav__item {% if request.resolver_match.url_name  == 'favourites' %}nav__item_active{% endif %}">
                        <a href="{% url 'favourites' %}" class="nav__link link">Избранное</a>
                    </li>
                    <li class="nav__item {% if request.resolver_match.url_name  == 'purchases' %}nav__item_active{% endif %}">
                        <a href="{% url 'purchases' %}" class="nav__link link">
                            Список покупок
                        </a>
                        <span id="counter" class="badge badge_style_blue nav__badge">
                            {% if purchases_count %}
                                {{ purchases_count }}
                            {% else %}
                                0
                            {% endif %}
                        </span>
                    </li>
                {% endif %}
            </ul>
            <ul class="nav__items list">
                {% if user.is_authenticated %}
                    <li class="nav__item">
                        <a href="{% url 'profile' user.username %}" class="nav__link link">{{ user.username }}</a>
                    </li>
                    <li class="nav__item">
                        <a href="{% url 'password_change' %}" class="nav__link link">Изменить пароль</a>
                    </li>
                    <li class="nav__item">
                        <a href="{% url 'logout' %}" class="nav__link link">Выход</a>
                    </li>
                {% else %}
                    <li class="nav__item">
                        <a href="{% url 'login' %}" class="nav__link link">Войти</a>
                        <li class="nav__item"><a href="{% url 'signup' %}" class="button button_style_blue">Создать аккаунт</a></li>
                    </li>
                {% endif %}
            </ul>
        </div>
    </nav>
</header>
