{% if user.is_authenticated %}
    {% if user != owner %}
        {% if following %}
            <div class="author-subscribe" data-author="{{ owner.id }}">
                <p style="padding: 0 0 2em 0;"><button class="button button_style_light-blue button_size_subscribe" name="subscribe">Отписаться от автора</button></p>
            </div>
        {% else %}
            <div class="author-subscribe" data-author="{{ owner.id }}">
                <p style="padding: 0 0 2em 0;"><button class="button button_style_light-blue button_size_subscribe" name="subscribe" data-out>Подписаться на автора</button></p>
            </div>
        {% endif %}
    {% endif %}
{% endif %}
